body {
    font-family: Arial, sans-serif;
    text-align: center;
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#entrada{
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
#analyze-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#analyze-button:hover {
    background-color: #0056b3;
}


.lexico ul{
    list-style: none;
    color: green;
    font-size: 20px;
}

