<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexer Tester</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="lexico">
        <h1> Lexico Resultado </h1>
        <p>Code:</p>
        <pre>{{ code }}</pre>

        <p>Tokens:</p>
        <ul>
            {%for token in tokens%}
               <li>{{ token.type }}: {{ token.value }}</li>
               <li>(Line:{{ token.line }}, Position: {{ token.lexpos}})</li>
                {% endfor %}
        </ul>
    </div>  
</body>
</html>